html {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  input,
  textarea,
  select,
  button {
    outline: none;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
  body {
    background-image: linear-gradient(
      0deg,
      #ee9ca7,
      #ffdde1
    );
    font-family: "Poppins", sans-serif;
    padding: 20px;
  }
  
  .music {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 35px 15px 30px;
  }
  .music-thumb {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 0 auto 25px;
  }
  .music-thumb.is-playing {
    animation: spinner 8s infinite linear;
  }
  .music-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
    box-shadow: 0 0 0 10px #eeee;
  }
  .music-name {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
  }

  .singer-name {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #919191;
  }
  .self-name {
    font-size: 10px;
    font-weight: 800;
    text-align: center;
    color: white;
  }
  .timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #999;
    margin-bottom: 40px;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 60px;
  }
  .play {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 30px;
    position: relative;
  }
  .play::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right bottom, );
    transform: scale(1.2);
    z-index: -1;
  }
  
  .play-repeat,
  .play-back,
  .play-forward {
     cursor: pointer;
  }
  .range {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        margin-bottom: 30px;
        background: transparent; /* Otherwise white in Chrome */
  }
  .range::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: #eeee;
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
   background-color: #20e3b2;
   width: 15px;
   height: 15px;
   border-radius: 100rem;
   margin-top: -6px;
   box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(100, 100, 111, 0.05); 
  }
  @keyframes spinner {
    to {
        transform: rotate(360deg);
    }
  }
  .play-repeat {
    font-size: 20px;
  }
    